@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a {
    color: black !important;
}

.brand-logo, h2 {
    font-family: 'Grand Hotel', cursive;
}

.my-card {
    margin-top: 30px;
    overflow: hidden;
}

.form-card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    overflow: hidden;
    
}

.profile-image {
    width: 160px;
    height: 160px;
    border-radius: 80px;
}

.profile-container {
    display: flex;
    justify-content: space-around;
    margin: 18px 0px;
    border-bottom: 1px solid grey;
}

.profile-numbers {
    display: flex;
    justify-content: space-between;
    width: 108%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 30%;
}

.profile-wrapper {
    max-width: 550px;
    margin: 0px auto;
}

.home-card {
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}

.input-field {
    margin: 10px auto;
    max-width: 500px;
    padding: 20px;
    text-align: center;
}

.favorite-icon {
    color: red;
}

.comment-author {
    font-weight: bold;
}

.delete-icon {
    float: right;
}

.btn-follow, .btn-unfollow {
    margin:10px;
}

.profile-name {
    padding: 6px;
}

.material-icons:hover{
    cursor: pointer;
}

.feed-image {
    width: 40px;
    height: 40px;
    border-radius: 80px;
}

.home-image {
    padding-right: 10px;
    max-width: 600px;
    float: left; 
    max-height: 100px;
    margin-left: 152px;
}